@model UsersViewModel
@{
    ViewData["Title"] = "Register New Users";
}
<h2>@ViewData["Title"]</h2>
<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />
        <!--<input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Type" />
        <input type="hidden" asp-for="MtypeId" />
        @*<input type="hidden" asp-for="NickName" />
        <input type="hidden" asp-for="Surname" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="RealName" />
        @*<input type="hidden" asp-for="Phone" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="BirthDate" />
        <input type="hidden" asp-for="Sex" />*@
        <input type="hidden" asp-for="Age" />
        <input type="hidden" asp-for="Gravatar" />
        <input type="hidden" asp-for="Avatar" />
        <input type="hidden" asp-for="Motto" />
        <input type="hidden" asp-for="Bio" />
        <input type="hidden" asp-for="Idcard" />
        <input type="hidden" asp-for="Major" />
        <input type="hidden" asp-for="Polity" />
        <input type="hidden" asp-for="NowState" />
        <input type="hidden" asp-for="State" />
        @*<input type="hidden" asp-for="Province" />
        <input type="hidden" asp-for="City" />
        <input type="hidden" asp-for="County" />
        <input type="hidden" asp-for="Street" />
        <input type="hidden" asp-for="Detailed" />*@
        <input type="hidden" asp-for="Company" />
        <input type="hidden" asp-for="Website" />
        <input type="hidden" asp-for="Weibo" />
        <input type="hidden" asp-for="Blog" />
        <input type="hidden" asp-for="Url" />
        <input type="hidden" asp-for="RegisterTime" />
        <input type="hidden" asp-for="RegisterIp" />
        <input type="hidden" asp-for="LastLoginTime" />
        <input type="hidden" asp-for="LastLoginIp" />
        <input type="hidden" asp-for="LastModifiedTime" />
        <input type="hidden" asp-for="LastModifiedIp" />
        <input type="hidden" asp-for="Sort" />-->
        @* https://docs.microsoft.com/zh-cn/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-3.1 *@
        @* https://docs.microsoft.com/zh-cn/aspnet/core/mvc/views/view-components?view=aspnetcore-3.1 *@
        @* Replacing classic Validation Summary to Custom ViewComponent as TagHelper *@
        @* 翻译：将经典验证摘要替换为自定义视图组件作为标记助手 *@

        @* 方式一(可用，但不推荐) *@
        @*@await Component.InvokeAsync("Alerts")*@

        <!-- 方式二 如果使用这个方法，请记得在_ViewImports.cshtml 中，导入@addTagHelper "*, AGooday.DncZero.Web" -->
        <vc:alerts />

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NickName" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="NickName" class="form-control" />
                    <span asp-validation-for="NickName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="RealName" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="RealName" class="form-control" />
                    <span asp-validation-for="RealName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Surname" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Name" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Phone" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Email" class="form-control" placeholder="dnczero@dnc.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="BirthDate" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Sex" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input asp-for="Sex" type="radio" id="female" name="Sex" class="custom-control-input" value="0">
                        <label class="custom-control-label" for="female">女性</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input asp-for="Sex" type="radio" id="male" name="Sex" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="male">男性</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input asp-for="Sex" type="radio" id="other" name="Sex" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="other">其他</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Province" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Province" class="form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="City" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="County" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="County" class="form-control" />
                    <span asp-validation-for="County" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Street" class="col-md-6 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Detailed" class="col-md-6 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Detailed" class="form-control" />
                <span asp-validation-for="Detailed" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>